.blacklist-black {
  filter: brightness(0.02);
}

.blacklist-blur {
  filter: blur(24px) !important;
}

body {
  user-select: initial !important;
  background-color: #000000;
  background-color: var(--v-secondary-base);
}

html {
  overflow-y: auto !important;
}

* {
  scrollbar-color: var(--v-secondary-base) var(--v-secondary-darken1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--v-secondary-base);
}

::-webkit-scrollbar-thumb {
  background: var(--v-secondary-darken1);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--v-secondary-lighten1);
}

.v-slide-group__content, .v-window__container, .v-color-picker__controls, .v-select-list {
  background-color: var(--v-secondary-base) !important;
}

.no-before-content::before {
  content: none !important;
}