.blacklist-black {
  filter: brightness(0.02);
}

.blacklist-blur {
  filter: blur(7px) !important;
  /* // transform: scale(0.99); */
}

body {
  user-select: initial !important;
  background-color: #808080;
}

html {
  overflow-y: scroll !important;
}

* {
  scrollbar-color: var(--v-secondary-base) var(--v-secondary-darken1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--v-secondary-base);
}

::-webkit-scrollbar-thumb {
  background: var(--v-secondary-darken1);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--v-secondary-lighten1);
}
